<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to Restaurant App</h1>
      <p>
        This is Angular 10 exercise
      </p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>General info</h2>
        <p>- Creating Components</p>
        <p>- Routing Components</p>
        <p>- Add Bootstrap</p>
        <p>- Create Services</p>
        <p>- CRUD Operations</p>
        <p>- Login&Register</p>
        <p>
          <a class="btn btn-secondary" href="#" role="button"
            >No details &raquo;</a
          >
        </p>
      </div>
      <div class="col-md-4">
        <h2>Login info</h2>
        <p>
          In this exercise, login method is not secure, and this logic shouldn't
          be used in real life applications
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button"
            >No details &raquo;</a
          >
        </p>
      </div>
      <div class="col-md-4">
        <h2>Heading-Temp</h2>
        <p>
          Some info
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button"
            >View details &raquo;</a
          >
        </p>
      </div>
    </div>

    <hr />
  </div>
  <!-- /container -->
</main>
